/*
@font-face {
	src: local('Tahoma');
	fontFamily: TahomaAdvanced;
	fontStyle: normal;
	fontWeight: normal;
	advancedAntiAliasing: true;
	fontAntiAliasType: advanced;
	fontGridFitType: subpixel;
	fontThickness: 200;
}

@font-face {
	src: local('Tahoma');
	fontFamily: TahomaAdvanced;
	fontStyle: normal;
	fontWeight: bold;
	advancedAntiAliasing: true;
	fontAntiAliasType: advanced;
	fontGridFitType: subpixel;
}

@font-face {
	src: local('Tahoma');
	fontFamily: TahomaAdvanced;
	fontStyle: italic;
	fontWeight: normal;
	advancedAntiAliasing: true;
	fontAntiAliasType: advanced;
	fontGridFitType: subpixel;
}

@font-face {
	src: local('Tahoma');
	fontFamily: TahomaAdvanced;
	fontStyle: italic;
	fontWeight: bold;
	advancedAntiAliasing: true;
	fontAntiAliasType: advanced;
	fontGridFitType: subpixel;
}
*/